*.o
*.a
.*
!.gitignore
.html
.dep
.in
.html.dep
/src/doc
/resource
/batch
/desktop
/config
Makefile*
config.*
armagetronad_main*
autom4te.cache/
languages.txt
extrapaths
src/nTrueVersion.h
src/tUniversalVariables*
stamp-h1
universal_variable*
